<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Followed by</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td>$<%= Stock.new_lookup(stock.ticker).last_price %></td>
            <td><%= pluralize(stock.users.count, 'user') %> </td>

            <td>
              <%= button_to "Remove", {:controller => :user_stocks, :action => 'destroy', :id => stock.id }, :method => :delete, params: { user_id: current_user.id }, class: "btn btn-danger w-100" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>