<div class="row">
  <div class="col-9">
    <table class="sortable table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= link_to "Ticker", :sort => "ticker"%> </th>
          <th><%= link_to "Name", :sort => "name"%> </th>
          <th scope="col">Price</th>
          <th scope="col">Followed by</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <% unless stock.users.empty? %>
            <tr>
              <th scope="row"><%= stock.ticker %></th>
              <td><%= stock.name %></td>
              <td>$<%= Stock.new_lookup(stock.ticker).last_price %></td>
              <td><%= pluralize(stock.users.count, 'user') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>