<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Last price: </strong> $<%= @stock.last_price %>

    <% if current_user.stocks.exists?(ticker: @stock.ticker) %>
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <%= fa_icon 'star' %>
      <% end %>
    <% else %>
      <%= button_tag type: :submit, class: "btn btn-danger" do %>
        <%= fa_icon 'trash' %>
      <% end %>
    <% end %>
  </div>
<% end %>
