<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Last price: </strong> <%= @stock.last_price %>

<!--
ESTO ME ROMPE EL SEARCH.. tengo que pensar aca como chequear si la stock existe.. en caso de existir tengo que agregarle un nuevo user
    <%= form_tag search_stock_path, remote: true, method: :get do %>
      <%= button_tag type: :submit, class: "btn btn-info" do %>
        <%= fa_icon 'star' %>
        <%= link_to("Add", new_user_stock, method: :create, class: "delete_button")  %>
      <% end %>
      <%= button_tag type: :submit, class: "btn btn-danger" do %>
        <%= fa_icon 'trash' %>
      <% end %>
    <% end %>
-->
  </div>
<% end %>
